@import "tailwindcss";

*{
  font-family: Outfit;
}

/* html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
} */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --font-Ovo: "Ovo", "sans-serif";

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --shadow-dark: 0 4px 6px -1px rgba(255, 255, 255, 0.2);



  /* --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));  --- not working! ---  */ 
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.contact-bg {
  background-image: url('/footer-bg-color.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
}